$primary: #68a2d7;
$secondary: #b1b2b3;
$warning: #fdc447;
// $success: #448827;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
    --bs-body-font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5 {
    @extend .fw-bold;
    font-family: "Rubik", serif;
}

.btn {
    font-family: "Rubik", serif;
}

.nav-link {
    @extend .fs-5;
}

.vh-50 {
    min-height: 50vh;
}

.vh-75 {
    min-height: 75vh;
}

.bg-overlay {
    box-shadow:inset 0 0 0 2000px rgba(33, 37, 41, 0.75);
}