---
import HeadingLayout from "../layouts/HeadingLayout.astro";
const pageTitle = "About";
---

<HeadingLayout title={pageTitle}>
    <main class="container py-3">
        <p>
            At Mr Crack and Buckle our mobile alloy wheel repair service is
            designed to make your life easier. We understand that damaged or
            scuffed wheels can be frustrating, and that's why we come to you –
            wherever you are across Dorset.
        </p>
        <p>
            ​Our experts have the skill and knowledge to repair your wheels to
            the highest standard, leaving them looking as good as new. We use
            the latest techniques and materials to ensure a long-lasting,
            quality finish. Plus, because we're mobile, we can complete the job
            quickly and efficiently with minimal disruption to your day. Get in
            touch today for a hassle-free solution to your wheel repair needs.
        </p>
    </main>
</HeadingLayout>
