---
import HeadingLayout from "../layouts/HeadingLayout.astro";
const pageTitle = "About";
---

<HeadingLayout title={pageTitle}>
    <main class="container py-3">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
            deleniti quidem debitis perferendis neque nostrum illum temporibus
            expedita optio dolore maiores id itaque eligendi sit, non inventore.
            Tempora, neque laborum? Consectetur voluptates, et laudantium vero
            nulla nihil eius nesciunt fugiat dolore quasi, velit error neque
            dicta nam, mollitia tempora quam similique officiis quia nobis
            quaerat ipsam doloremque aut sapiente? Beatae. Perferendis facere
            temporibus quasi ut quod dignissimos fugiat ullam aliquid aliquam
            harum, architecto vel autem. Quod ducimus et obcaecati hic
            reiciendis, maiores ipsa deleniti maxime, soluta id doloribus nobis
            quaerat. Sit libero quod, ipsam voluptatem itaque ad maiores nobis
            doloremque. Ut, enim laudantium eaque quo ea molestias a veniam ad
            excepturi illo, rerum laboriosam! Eum facilis aliquam dolore
            consequuntur quisquam! Animi enim, eum dolor cupiditate nostrum
            architecto ab. Cum mollitia accusamus iusto inventore delectus
            eligendi aliquam, cupiditate in rerum eius amet reiciendis ratione,
            voluptates aliquid quas sequi obcaecati dolores aperiam?
        </p>
    </main>
</HeadingLayout>
