---
import HeadingLayout from "../layouts/HeadingLayout.astro";
const pageTitle = "Services";
---

<HeadingLayout title={pageTitle}>
    <main class="container py-5">
        <div class="row">
            <div class="col-6">
                <h2 class="text-primary">Cracked Rim Repair</h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Rerum amet repellat dolores eum pariatur adipisci,
                    voluptatem natus praesentium fugiat nostrum, nisi
                    architecto! Ducimus dolores est omnis necessitatibus dolor
                    nam maiores.
                </p>
            </div>
            <div class="col-6">
                <h2 class="text-primary">Alloy Wheel Straightening</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Fugiat, omnis tempore adipisci sint alias atque est quis
                    vitae veritatis perspiciatis architecto obcaecati, explicabo
                    facilis hic sapiente nesciunt ad esse molestias!
                </p>
            </div>
        </div>
    </main>
</HeadingLayout>
