---
import HeadingLayout from "../layouts/HeadingLayout.astro";
import CTA from "../components/CTA.astro";
const pageTitle = "Services";
---

<HeadingLayout title={pageTitle}>
    <main class="container py-5">
        <div class="row">
            <div class="col-6">
                <h2 class="text-primary">Cracked Rim Repair</h2>
                <p>
                    Discover the art of precision alloy wheel repair with Mr
                    Crack & Buckle's cracked rim repair service. When a pothole
                    impact or unfortunate road encounter results in a cracked
                    rim, our team of skilled technicians steps in to seamlessly
                    mend the damage, ensuring both the visual appeal and
                    structural integrity of your alloy wheels are restored.
                </p>
                <p>
                    At Mr Crack & Buckle, we recognize the distress that a
                    cracked rim can cause. Beyond the cosmetic concern, a
                    cracked rim can compromise your driving safety. That's why
                    our technicians employ advanced repair techniques, including
                    alloy wheel welding, to seamlessly fix the cracks. Our
                    meticulous approach ensures that your alloy wheels are not
                    only restored to their original aesthetics but are also
                    robust enough to withstand the rigors of the road.
                </p>
                <p>
                    With our cracked rim repair service, you don't have to
                    resort to costly replacements. By choosing repair over
                    replacement, you not only save money but also contribute to
                    sustainability by extending the lifespan of your alloy
                    wheels. Trust Mr Crack & Buckle to transform those unsightly
                    cracks into a distant memory, allowing you to hit the road
                    with confidence and style.
                </p>
            </div>
            <div class="col-6">
                <h2 class="text-primary">Alloy Wheel Straightening</h2>
                <p>
                    Encountered a pothole or curb that's left your alloy wheels
                    bent out of shape? Mr Crack & Buckle's alloy wheel
                    straightening service is here to restore the balance and
                    performance of your wheels. Our technicians are seasoned
                    experts in the delicate art of wheel straightening, ensuring
                    that your wheels are brought back to their original
                    alignment with precision.
                </p>
                <p>
                    A bent alloy wheel not only affects your vehicle's
                    aesthetics but can also lead to uneven tire wear and
                    compromised driving dynamics. With our state-of-the-art
                    techniques and specialized equipment, we carefully apply
                    controlled pressure to the affected areas, coaxing the
                    wheels back to their intended form. The result? A smooth and
                    balanced ride that enhances your driving experience.
                </p>
                <p>
                    Choosing Mr Crack & Buckle for alloy wheel straightening
                    means choosing quality and expertise. Our technicians
                    meticulously assess the extent of the damage, devising a
                    tailored approach to each wheel to ensure optimal results.
                    Don't let a bent wheel hinder your driving pleasure. Trust
                    our team to bring harmony back to your alloy wheels,
                    allowing you to enjoy the road with newfound confidence.
                </p>
            </div>
        </div>
    </main>
    <CTA />
</HeadingLayout>
