<div class="bg-light py-5 my-0">
    <div class="container text-center">
        <h2>Get a Quote</h2>
        <p>
            If you need our mobile alloy repair service, give us a call today on
            <a href="tel:08007312368">0800 7312368</a> or send us a message.
        </p>
        <a href="/contact" class="btn btn-primary">Contact Us</a>
    </div>
</div>
