<footer class="text-center my-0">
    <hr class="mt-0 mb-5" />
    <p class="fancy-font fw-bold mb-3 fs-4">Mr. Crack & Buckle</p>
    <p class="mb-1">
        <i class="bi bi-telephone"></i>
        <a href="tel:08007312368" class="link-dark">0800 7312368</a>
    </p>
    <p>
        <i class="bi bi-envelope"></i>
        <a href="mailto:freewaytyre@btconnect.com" class="link-dark"
            >freewaytyre@btconnect.com</a
        >
    </p>
    <p class="fw-bold fancy-font">Opening Hours</p>
    <p class="mb-0">Mon - Sat: 8:30am - 6:00pm</p>
    <p>Sun: 9:00am - 5:00pm</p>
    <a href="https://www.facebook.com/profile.php?id=100076056744708"
        ><i class="bi bi-facebook fs-3"></i></a
    >
    <p class="mt-3 small">
        &copy; 2023 Mr. Crack & Buckle - All rights reserved
    </p>
</footer>
