---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container">
        <a class="navbar-brand fancy-font" href="#">Mr. Crack & Buckle</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar"
            aria-controls="navbar"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a
                        class={currentPath === ""
                            ? "active nav-link"
                            : "nav-link"}
                        href="/">Home</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class={currentPath === "about"
                            ? "active nav-link"
                            : "nav-link"}
                        href="/about">About</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class={currentPath === "services"
                            ? "active nav-link"
                            : "nav-link"}
                        href="/services">Services</a
                    >
                </li>

                <li class="nav-item">
                    <a
                        class={currentPath === "contact"
                            ? "active nav-link"
                            : "nav-link"}
                        href="/contact">Contact</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>
